<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DenDenWell Preview</title>
</head>
<body>
    <form id="previewer" method="post" action="/render">
        <input type="hidden" name="body"  value="" id="body"> 
        <input type="hidden" name="token" value="{{token}}">
    </form>

    <script type="text/javascript">
        var init = function () {
            if ( T && T.whole ) {
                var body = document.getElementById('body'),
                    val  = T.whole
                ;

                body.value = val;
            }

            var form = document.getElementById('previewer');
            form.submit();
        };

		window.onload = function(){
			if ( window.webkit ) { // iOS 8+
				window.webkit.messageHandlers.initT.postMessage('init');
			} else {
				window.location.href = 'textwell:///webdelegate?init=init';
			};
		};
    </script>

</body>
</html>
