<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DenDenWell Installer</title>
</head>
<body>
    <style>
        html, body, #install {
            margin : 0 ;
            padding : 0 ;
            width : 100% ;
            height : 100% ; 
        }

        #install h1 {
            position : absolute ;
            top : 0 ;
            bottom : 0 ;
            right : 0 ;
            left : 0 ;
            height : 100% ; 
            width : 100% ;
            margin : auto ;
            text-align : center ;
        }

        #install h1 a {
            display : block ;
            position : absolute ;
            top : 50% ;
            margin-top : -1em ;

            width : 100% ;
            height : 100% ;
        }
    </style>
    <div id="install">
        <script>
            var action = 'location.href="' + location.protocol + '//' + location.host + '/form"';
            var script = "textwell:///importAction?translucent=false&title=DenDenWell&source=" + encodeURIComponent( action );
           
            document.getElementById('install').innerHTML = '<h1><a href="' + script + '">Install DenDenWell to Textwell</a></h1>';
        </script>
    </div>
</body>
</html>
