<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DenDenMarkdown Preview</title>
</head>
<body>
    <style>
        body {
            margin : 1em auto ;
            width : 69% ;

            font-size : 1.5em ;

            background-color : #F8F8F6 ;
            color : #2E3436 ;

            font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
        }
    </style>

    <div id="content">
        {{{content}}}
    </div>

    <input type="hidden" id="renderred" value="{{content}}">

    <script>
        var finalize = function () {
            var data = document.getElementById('renderred').value;
            if ( data.charAt( data.length - 1 ) == '\n') {
                data = data.substring( 0, data.length - 1 );
            }

            if (T) {
                var getHTML = function ( val ) {
                    T('replaceWhole', val);
                };

                T.closelets(
                    [{
                        title: 'Get HTML',
                        fn: getHTML,
                        arg: { text: data }
                    }],
                    function() {}
            );
            }
        };

		window.onload = function(){
			if ( window.webkit ) { // iOS 8+
				window.webkit.messageHandlers.initT.postMessage('finalize');
			} else {
				window.location.href = 'textwell:///webdelegate?init=finalize';
			};
		};


    </script>
</body>
</html>
